@{
    ViewBag.Title = "Підтвердження паролю (якщо його було забуто)";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Перевірте електронну пошту, щоб скинути пароль.
    </p>
</div>
	
