@*@model List<EnglishLearning.Models.GroupModel>*@
@model string
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

@section styles{
    <link rel="stylesheet" href="@Url.Content("~/Content/TwoColTreeByGroup.css")">
}

@if (Model.Count() > 0)
{
    <ul class="listByGroup">
        @*@treeView.buildTree(Model, Model.FirstOrDefault().ParentId, ViewBag.Tests, ViewBag.User)*@
        @Html.Raw(Model)
    </ul>
}

@section Scripts{
        <script type="text/javascript" src="@Url.Content("~/Scripts/TreeColumnsSize.js")"></script>
}