@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("admin"))
    {
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Users", new { area = "Admin" })">Робота з користувачами</a>
        </li>
    }
}
