@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("admin"))
    {
<ul class="nav navbar-nav navbar-left">
    <li class="nav-item">
        @Html.ActionLink("Робота з користувачами", "Index", "Users", new { area="Admin"}, new { @class = "nav-link" });
    </li>
        </ul>
    }
}
