@model List<EnglishLearning.Controllers.LectionChoice>

@foreach (var el in Model)
{
<div class="card text-white bg-secondary mt-1" style="max-width: 18rem;">
    <div class="card-header" style="background-color:#2b5797">Урок @el.ComplexityOrder</div>
    <div class="card-body bg-dark">
        <ul style="list-style-type:upper-roman;">
        @foreach (var leaf in el.lection)
        {
            <li>
                <p class="h3">
                    <a class="text-light" href="@Url.Action("ShowLection", "Lection", new { area="", id = leaf.LectionId})">@leaf.Name</a>
                </p>
                <p class="card-text">@leaf.Description</p>
            </li>
        }
        </ul>
    </div>
</div>
}